p {
            color: rgb(75, 75, 75);
            font-size: 20px;
            font-family: 'Comic Sans MS', cursive, sans-serif;
        }
        h1 {
            font-family: 'Oswald', sans-serif;
            text-align: center;
        }
        hr {
            color: rgb(165, 246, 255)
        }
        body {
        background-image: url('bgtile.webp');
        background-repeat: repeat;
        }
        video {
            width: 35%;
            height: auto;
            display: block;
            margin: 0 auto;
            }
